<!-- Open Calls Grid Section -->
    <section id="opencalls" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Open Calls</h2>
                    <h3 class="section-subheading text-muted">PhD at FBK</h3>
                </div>
            </div>
                          
            {% for post in site.tags['call_uni'] %}
            
              
                   
                   <div class="col-lg-12 text-center">
                        <h4>{{ post.title }}</h4>
                    </div>    
                     <div class="col-lg-2 text-left">
                       <p > Topic: {{ post.topic }}<br>
                       Number of positions: {{ post.number_of_positions }}<br>
                       Website:<a href="{{ post.website }}">{{ post.website }}</a>  <br>
                       Closing Date: {{post.closing_date}} </p> 
                    </div>
                    
                    {% for call in site.tags[post.subtag] %}
  
                      <div class="col-md-4 col-sm-6 portfolio-item">
  
                         <div class="portfolio-caption">
                           <h4>{{ call.title }}</h4>
                           URL:  {{ call.url }}
                            <p> Advisor: {{ call.advisor }}<br>
                      
                            </p>
                         </div>
                        </div>
                    {% endfor %}
                    
            
             </div>
            {% endfor %}
            
           
              
            
            
        </div>
    </section>
