<!-- What Section -->
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What</h2>
                    <h3 class="section-subheading text-muted">Three reasons to be a PhD student in FBK :)</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Graduation</h4>
                    <p class="text-muted">FBK-ICT offers a unique stimulating and exciting environment to its PhD students. PhD students supervised by FBK-ICT researchers conduct their work in the lab of the research units, in strict collaboration with the units’ teams and under the supervision of top-ranked researchers, targeting the highest scientific and publication standards.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Applied Research</h4>
                    <p class="text-muted">The FBK-ICT PhD program involves more than 60 PhD Students allocated to the units of the three Research Lines and of the three High Impact Initiatives of the center. The PhD program is carried out in collaboration with prestigious national and international Affiliated universities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Success Stories</h4>
                    <p class="text-muted">Most Alumni of the FBK-ICT PhD program have an exceptionally strong publication and citation record. After their PhD, some of them have been enrolled in prestigious institutions, as the University of Luxembourg and the University of Colorado at Boulder.</p>
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">OUR CENTERS</h2>
                    <h3 class="section-subheading text-muted">The excellence in FBK</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                                <img class="img-square img-responsive" src="img/what/ict2.gif" alt="">
                            </div>
                    </span>
                    <h4 class="service-heading"><a href="http://ict.fbk.eu/">ICT</a></h4>
                    <p class="text-muted">Center for Communication and Information Technology</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        
                       <img class="img-square img-responsive" src="img/what/isig.jpg" alt="">
                    </span>
                    <h4 class="service-heading"><a href="http://isig.fbk.eu/">ISIG</a></h4>
                    <p class="text-muted">Italian-German Historical Institute</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                         <img class="img-square img-responsive" src="img/what/cmm.jpg" alt="">
                    </span>
                    <h4 class="service-heading"><a href="http://cmm.fbk.eu/">CMM</a></h4>
                    <p class="text-muted">Center for Materials & Microsystems</p>
                </div>
                 <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                         <img class="img-square img-responsive" src="img/what/cmm.jpg" alt="">
                    </span>
                    <h4 class="service-heading"><a href="http://cmm.fbk.eu/">CMM</a></h4>
                    <p class="text-muted">Center for Materials & Microsystems</p>
                </div>
                 <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                         <img class="img-square img-responsive" src="img/what/cmm.jpg" alt="">
                    </span>
                    <h4 class="service-heading"><a href="http://cmm.fbk.eu/">CMM</a></h4>
                    <p class="text-muted">Center for Materials & Microsystems</p>
                </div>
                 <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                         <img class="img-square img-responsive" src="img/what/cmm.jpg" alt="">
                    </span>
                    <h4 class="service-heading"><a href="http://cmm.fbk.eu/">CMM</a></h4>
                    <p class="text-muted">Center for Materials & Microsystems</p>
                </div>
            </div>
        </div>
    </section>
