<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include what.html %}
    {% include students_grid.html %}
    {% include affiliations_grid.html %}
    {% include alumni.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include affiliation_modals.html %}
     {% include students_modals.html %}
    {% include js.html %}

    </body>
</html>
